NEW_USER=user
NEW_USER_PASS_SHA=$6$jLV4wUIc2EX1i92p$Xccsu5NBczQKUGGAzAptghgL4h7Nc3rpcEEhjspnkpFLw2SBAFCTC80TsPavNfJtxx/02ltFPlcgy3gRV3eKS0
AUTHORIZED_SSH_PUB_KEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI00THISISNOTAREALKEY00RUViUiTNjx0sKLS2sRFQR3 host@example
