NEW_USER=en
NEW_USER_PASS_SHA=$6$CjnXjjxoT1zgkKX7$1Ba/AF/eAf1Mbae7PfyK6TEgk4wjJOfdnKoO4.9gN1xWCzkAHV/3vQt5zRcz0t9p/LkDBfoTnIxMrQZ2KDury/
AUTHORIZED_SSH_PUB_KEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIcgkXs7izEjZOcmpjdSXnRwX6s81Mf4QyNZ9cOOHgAQ