build/
mkosi.tools.manifest
mkosi.tools/
mkosi.key
mkosi.crt
.#image.raw.lck
.env

# Generated based on .env by mkosi.prepare
mkosi.repart/08-swap.conf

# Intended for local configs to not be tracked
mkosi.local.conf
mkosi.local/